* {
  background:black;
}

#title {
  font-size: 67pt;
  font-family: Verdana, sans-serif;
  text-align:center;
  color:#660000;
  margin-top:20px;
}

#throne {
  width: 650px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  display: block;
  padding-bottom:25px;
}

#quiz {
  color:red;
  text-align:center;
  font: Verdana, sans-serif;
}

button {
  background-color: #330000; 
  padding: 2px 4px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  border-color: #660000;
  color: red
}

input {
  background-color:white;
}

#next {
  position:relative;
  right: 24px;
}

#questions {
  font-weight:bolder;
  font-size: 20pt;
}

#options{
  padding-bottom: 20px;
}